﻿<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label">用户名</label>
    <div class="controls">
        <input type="text" data-bind="value: UserName, valueUpdate: 'afterkeydown'">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">代理商名</label>
    <div class="controls">
        <input type="text" data-bind="value: Agentname, valueUpdate: 'afterkeydown'">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">传真</label>
    <div class="controls">
      <input type="text" data-bind="value: Fax, valueUpdate: 'afterkeydown'">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">地区</label>
    <div class="controls controls-row">
      <select class="span2 select-block" data-bind="options: $parent.provs, value: SysProvinceID, optionsText: 'Name', optionsValue: 'ZIP', optionsCaption: '省', event: { change: $parent.provChange.bind($parent) }"></select>
      <select class="span2 select-block" data-bind="options: $parent.cities, value: SysCityID, optionsText: 'Name', optionsValue: 'ZIP', optionsCaption: '市', disable: !SysProvinceID()"></select>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label  class="checkbox">
        <input type="checkbox" data-bind="checked: IsActive" data-toggle="checkbox" >
        是否激活
      </label>
    </div>
  </div>
</form>
