﻿@{
    ViewBag.Title = "Show Grid";
}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">二级标签</li>
          <li class="active"><a href="#">代理商管理页面</a></li>
          <li><a href="#">商品管理页面</a></li>
          <li class="nav-header">另一个二级标签</li>
          <li><a href="#">另一个商品管理页面</a></li>
        </ul>
      </div>
    </div>
    <div class="span10" data-bind="with: userCollection">
      <div class="row-fluid">
        <button type="button" data-toggle="modal" href="#formBench" class="btn btn-primary span2 offset10" data-bind="click: add">添加</button>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>用户</th>
            <th>代理商名</th>
            <th>传真</th>
            <th>是否激活</th>
            <th style="width: 220px">创建时间</th>
            <th style="width: 170px"></th>
          </tr>
        </thead>
        <tbody>
            <!-- ko foreach: data -->
            <tr>
                <td data-bind="text: UserName"></td>
                <td data-bind="text: Agentname"></td>
                <td data-bind="text: Fax"></td>
                <td data-bind="text: formatIsActive"></td>
                <td data-bind="text: formatTime"></td>
                <td>
                  <button type="button" data-toggle="modal" href="#formBench" class="btn btn-mini btn-warning" data-bind="click: $parent.update.bind($parent)">修改</button>
                  <button type="button" data-toggle="modal" href="#resetConfirm" class="btn btn-mini btn-info" data-bind="click: $parent.resetPwd.bind($parent)">重置密码</button>
                  <button type="button" data-toggle="modal" href="#delConfirm" class="btn btn-mini btn-danger" data-bind="click: $parent.delete.bind($parent)">删除</button>
                </td>
            </tr>
            <!-- /ko -->
        </tbody>
      </table>
      @Html.Partial("_Pagination")
    </div>
  </div>
</div>
@section modal {
    <div class="modal fade" id="formBench" data-bind="with: userCollection">
      <!-- ko with: userBench -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" data-bind="text: $parent.benchType() == 'create' ? '添加用户' : '用户修改'"></h4>
      </div>
      <div class="modal-body">
        @Html.Partial("_UserForm")
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" data-bind="click: $parent.submit.bind($parent)">确认</button>
      </div>
      <!-- /ko -->
    </div>
    <div class="modal fade" id="resetConfirm", data-bind="template: { name: 'confirm-template', data: {content: '确认重置密码?'} }"></div>
    <div class="modal fade" id="delConfirm", data-bind="template: { name: 'confirm-template', data: {content: '确认删除?'} }"></div>
    <script type="text/html" id="confirm-template">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">提示</h4>
          </div>
          <div class="modal-body">
            <p data-bind="text: content"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: $root.cancel">关闭</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: $root.flush">确认</button>
          </div>
        </div>
      </div>
    </script>
}
@section scripts {
    @Scripts.Render("~/bundles/shared")
    @Scripts.Render("~/bundles/showgrid")
}