.btn-radius () {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

body {
    font-family: 'Courier New', Courier, '微软雅黑', '黑体', monospace;
}

a {
	text-decoration: none;
}

.sidebar-nav {
	padding: 9px 0;
}

.btn.btn-mini {
	padding: 0 6px;
	font-size: 10.5px;
	.btn-radius
}

.btn.btn-small {
	padding: 2px 10px;
	font-size: 11.9px;
	.btn-radius
}

#formBench {
	margin-left: -400px;
	width: 800px;
}