﻿<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/themes/bootstrap")
        @Styles.Render("~/Content/Layout.css")
    </head>
    <body>
        <section>
            <head>
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <div class="container-fluid">
                            <a class="brand" href="#">用户中心</a>
                            <ul class="nav pull-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle"  data-toggle="dropdown">开发者 <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("文档", "Index", "Home", new { area = "" }, null)</li>
                                        <li>@Html.ActionLink("API", "Index", "Help", new { area = "HelpPage" }, null)</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </head>
            <body>
                @RenderBody()
            </body>
        </section>
        @RenderSection("modal", required: false)
        @Scripts.Render("~/bundles/lib")
        @RenderSection("scripts", required: false)
    </body>
</html>